/* <!-- ------------ NAVBAR ------------ --> */
.nav-link.stand-out {
    color: green;
}

.nav-link.stand-out:hover {
    color: rgb(0, 165, 0);
}


/* <!-- ------------ CARRUSEL ------------ --> */
.bkg_opacity{
    filter: brightness(0.5);
}
.d-flex button {
    margin-left: 10px!important;
}

/* Cuando la pantalla esta grande */
@media only screen and (min-width: 700px){
    .caption-right {
        left: 40%;
    }
    
    .text-right {
        text-align: right!important;
    }
    
    
    .btn-carousel.d-flex{
        justify-content: end;
    }    
}

/* Cuando la pantalla esta chica */
@media only screen and (max-width: 700px){
    .btn-carousel.d-flex{
        justify-content: center;
    } 

}


/* <!-- ------------ CARDS ------------ --> */

.badges-align span{
    margin: 0px 5px 12px 0px!important;
}

.subrayado{
    border-bottom: 1px dotted black;
}


/* <!-- ------------ INFORMACION ------------ --> */

.container-gral{
    display: flex;
}

.container-gral div {
    width: 50%;
}

/* MEDIA QUERY */
@media only screen and (max-width: 700px){

    .informacion.container-gral{
        display: flex;
        flex-direction: column;
    }
    .informacion.container-gral div {
        width: 100%;
    }
}


/* <!-- ------------ FORMS ------------ --> */
.container-form{
    max-width: 800px!important;
}

.container-form-2{
    max-width: 1500px!important;
}


/* <!-- ------------ FOOTER ------------ --> */

.footer .row {
    --bs-gutter-x: 0!important;
}


